/*--------------Header------------*/

#app-header {
  background-color: #516f90;
  color: #dbe7e4;
  text-align: center;
  justify-content: center;
  margin: 0cm;
  width: 100%;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 4vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  text-transform: uppercase;
}

#header-icon {
  width: auto;
  margin-right: 10px;
}

/*--------------App (Main Page) Settings------------*/

#app-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr 3fr;
}

.page-header {
  background-color: #516f90;
  color: #dbe7e4;
  text-align: center;
  justify-content: center;
  font-family: Avenir;
  border-radius: 5px;
  width: 100%;
  font-weight: lighter;
  margin-bottom: 20px;
  box-shadow: 15px 3px 20px 0.2px rgb(0, 0, 0, 0.1);
}

h1 {
  margin: 0cm;
}

img {
  height: 2.5vw;
  width: 3.5vw;
}

#main-container {
  grid-column: 4;
  margin: 30px;
}

body {
  font-family: Avenir;
  margin: 0;
  background-color: #faf9f9;
  color: #555b6e;
}

/*--------------Nav Bar Component------------*/

#nav-bar-container {
  grid-column: 2;
  margin: 30px;
}
#navBar-container {
  border-radius: 10px;
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  justify-content: center;
  justify-self: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  /* 
  margin-bottom: 25px;
  display: inline-block;  */
}

.nav-bar-links {
  display: inline-block;
  width: 80%;
  color: #faf9f9;
  text-transform: uppercase;
  padding: 1vh;
  font-size: 1.3vw;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;
  margin: 10px;
}
.nav-bar-links:hover {
  font-weight: bold;
}
#nav-icon {
  height: 2vh;
  width: auto;
  padding-right: 0.5vh;
  opacity: 1;
}

/*--------------Add Entry Component------------*/
input,
textarea {
  font-family: Avenir;
}

#new-post-title,
#new-post-source {
  width: 100%;
  font-size: 16px;
}

#new-post-content {
  width: 100%;
  height: 30vh;
  /* word-wrap: break-word;
  word-break: break-all; */
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  font-family: Avenir;
  font-size: 16px;
}

h3,
h6 {
  margin: 0;
}
#entry {
  border-radius: 10px;
  padding: 25px;
  background-color: white;
  margin-bottom: 25px;
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#entry-title {
  text-align: center;
  padding: 10px;
  font-size: 3vh;
}

#bottom-entry-container {
  display: inline;
}

.button-icon {
  height: 1.1vw;
  width: auto;
  padding-right: 0.5vw;
}
ol {
  list-style-type: circle;
}
#date-container {
  float: left;
  padding: 0.5vw;
  margin: 10px;
}
#content {
  padding: 10px;
}
#link-icon {
  height: 2vh;
  width: auto;
  align-self: center;
  padding-left: 5px; 
}
/*--------------View All Component------------*/
.tag-link,
.nav-bar-links,
.button {
  background-color: #f5c26b;
}

.tag-link {
  color: #faf9f9;
  padding: 1vw;
  font-size: 1vw;
  border-radius: 5%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 5vw;
  height: fit-content;
  text-align: center;
  box-shadow: 15px 3px 20px 0.2px rgb(0, 0, 0, 0.1);
}

.tag-link:hover {
  font-weight: bold;
  cursor: pointer;
}

.tag-bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vw;
  padding-top: 2vw;
  width: 100%;
}
.button {
  color: #faf9f9;
  font-size: 1vw;
  padding: 0.5vw;
  width: 12vw;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  margin: 0.5vw;
  font-family: Avenir;
}

.button:hover {
  font-weight: bolder;
}

#button-container {
  display: inline;
  float: right;
  padding-top: 1vh
}

label {
  font-size: 1.1vw;
}

.label-container {
  padding-bottom: 10px;
  padding-top: 10px;
}

/*-------------Popup onClick confirmation-- -------*/
.popup-wrapper {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  backdrop-filter: blur(8px);
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.45);
}

.popup {
  height: 45vh;
  width: 45vw;
  border-radius: 10px;
  background-color: #edf6f9;
  display: grid;
  grid-template-rows: 3fr 1fr;
  backdrop-filter: blur(8px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(0.2);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
  box-shadow: 20px 30px 60px 0.5px rgb(0, 0, 0, 0.45);
}

#popup-icon {
  height: 18px;
  width: 18px;
  opacity: 0.9;
  padding-right: 5px;
}

#top-popup {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  color: #55585e;
  font-size: bigger;
  padding: 2vw;
}

#popup-title {
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
}
#dancing {
  align-self: center;
  border-radius: 5px;
  height: 9vh;
  width: 10vw;
}

#bottom-popup {
  background-color: #cbd6e2;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  padding: 15px 15px 15px 45px;
  color: #33475b;
  justify-content: space-between;
  height: 100%;
  text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*--------------Delete Pop-up------------*/

.message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.message {
  height: 30vh; 
  width: 30vw;
  border-radius: 5px;
  background-color: #faf9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  font-size: 3vh;
  margin: 2vh;
}

.popup-header {
  background-color: #555b6e;
  color: #faf9f9;
  text-align: center;
  padding: 0;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#cancel-button-container,
#delete-message {
  padding: 2vh;
  display: inline; 
}

/*-------------Edit Entry Popup---------------*/

.popup-wrapper {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  backdrop-filter: blur(8px);
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.45);
}

#edit-popup {
  height: 60vh;
  width: 50vw;
  border-radius: 10px;
  background-color: #edf6f9;
  backdrop-filter: blur(8px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(0.2);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
  box-shadow: 20px 30px 60px 0.5px rgb(0, 0, 0, 0.45);
}

#popup-icon {
  height: 18px;
  width: 18px;
  opacity: 0.9;
  padding-right: 5px;
}

#top-edit-popup {
  color: #55585e;
  padding: 2vw;
  width: 90%;
}

#popup-title {
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
}

#bottom-edit-popup {
  background-color: #cbd6e2;
  color: #33475b;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  */
display: flex;
}
#edit-info {
  padding: 10px;
}

#edit-button-container {
  position: absolute;
  bottom: 5px;
  justify-self: center;
  justify-items: center;
  text-align: center;
}

#edit-title,
#edit-source {
  width: 100%;
}

#edit-content {
  width: 100%;
  height: auto;
  /* display: flex; */
  block-size: fit-content;
}
