/*--------------Edit/Delete Pop-up------------*/ 

.message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.message {
  height: 40vh;
  width: 60vw;
  border-radius: 5px;
  background-color: #faf9f9;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-header {
    background-color: #555b6e;
  color: #faf9f9;
    text-align: center;
    padding: 0;
    margin: 0; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#edit-info {
    padding: 10px; 
}

#edit-title {
    width: 100%; 
}

#edit-content {
    width: 100%;
    height: auto;
    display: flex;
    block-size: fit-content; 
    
}


